.homeBody{
  background-color: #704264;
}

.customParagraph {
  white-space: pre-wrap;
}

.customParagraph::after {
  content: "";
  display: block;
  white-space: pre-wrap;
}

.customParagraph::after {
  content: "\A";
  white-space: pre;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  .fadeIn {
    animation: fadeIn 1s ease-out;
  }

.aboutBody{
  background-color: #49243E;
}


